html{
   scroll-behavior: smooth;
   height: 100%;
}
*, *::after, *::before{
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body{
   font-family: 'Montserrat', 'Arial', sans-serif;
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0px;
   padding: 0px;
}
img{
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   object-fit: cover;
}
main{
   flex-grow: 1;
}