.footer{
   padding-bottom: 60px;
}
.site-footer{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 100px;
}
.footer-box{
   width: 204px;
}
.footer-link{
   margin-top: 15px;
   display: block;
   font-weight: 500;
   font-size: 14px;
   line-height: 136%;
   text-decoration-line: underline;
   color: #777777;
}
.navigatsa-list{
   margin: 0px;
   padding: 0px;
}
.navigatsa-item + .navigatsa-item{
   margin-top: 8px;
}
.navigatsa-str{
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #000000;
   margin-bottom: 4px;
}
.navigatsa-link{
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   opacity: 0.3;
}

.social-list{
   margin: 0px;
   padding: 0px;
}
.social-item + .social-item{
   margin-top: 8px;
   padding-left: 26px;
}
.social-str{
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #000000;
   margin-bottom: 4px;
}
.social-link{
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   opacity: 0.3;
}
.telegram-item{
   position: relative;
}
.telegram::before{
   position: absolute;
   width: 20px;
   height: 20px;
   background-image: url("../images/send-2.svg");
   background-repeat: no-repeat;
   background-size: auto;
   top: 0px;
   left: -1px;
   content: '';
}
.instagram-item{
   position: relative;
}
.instagram::before{
   position: absolute;
   width: 20px;
   height: 20px;
   background-image: url("../images/instagram.svg");
   background-repeat: no-repeat;
   background-size: auto;
   top: 0px;
   left: -1px;
   content: '';
}
.facebook-item{
   position: relative;
}
.facebook::before{
   position: absolute;
   width: 20px;
   height: 20px;
   background-image: url("../images/facebook.svg");
   background-repeat: no-repeat;
   background-size: auto;
   top: 0px;
   left: -1px;
   content: '';
}
.twitter-item{
   position: relative;
}
.twitter::before{
   position: absolute;
   width: 20px;
   height: 20px;
   background-image: url("../images/twitter.svg");
   background-repeat: no-repeat;
   background-size: auto;
   top: 0px;
   left: -1px;
   content: '';
}
.contact-list{
   margin: 0px;
   padding: 0px;
}
.contact-item + .contact-item{
   margin-top: 8px;
}
.contact-link{
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #000000; 
   opacity: 0.3;
}

.text-code{
   position: relative;
   margin-top: 100px;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #777777;
   padding-left: 22px;
   &::before{
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../images/frame.svg");
      background-repeat: no-repeat;
      background-size: auto;
      top: 2px;
      left: 0px;
      opacity: 0.4;
      content: '';
   }
}

@media only screen and (max-width: 565px) {
   .footer-box{
      width: 284px;
   }
   .social-list{
      margin-top: 40px;
   }
   .navigatsa-list{
      margin-top: 40px;
   }
   .contact-list{
      margin-top: 20px;
   }
   .text-code{
      margin-top: 50px;
   }
   .footer{
      padding-bottom: 30px;
   }
}