.form-content{
   margin-top: 90px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 80px 50px 67px 50px;
   background-color: #F5F7F9;
   border-radius: 30px;
}
.our-box{
   width: 100%;
   max-width: 581px;
}
.our-title{
   margin: 0px;
   font-weight: 700;
   font-size: 40px;
   line-height: 49px;
   margin-bottom: 10px;
   color: #000000;
}
.our-text{
   margin: 0px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 156%;
   color: #000000;
   opacity: 0.6;
}
.form{
   width: 100%;
   max-width: 522px;
}
.name-inp{
   font-weight: 500;
   font-size: 20px;
   line-height: 32px;
   width: 100%;
   max-width: 522px;
   background-color: #FFFFFF;
   border-radius: 15px;
   padding: 20px 0px 20px 20px;
   border: none;
}
.mail-box{
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 45px;
}
.mail-inp{
   font-weight: 500;
   font-size: 20px;
   line-height: 32px;
   width: 100%;
   max-width: 256px;
   background-color: #FFFFFF;
   border-radius: 15px;
   padding: 20px 0px 20px 20px;
   border: none;
}
.form-btn{
   display: block;
   margin: 0px auto;
   width: 100%;
   padding: 24px 0px;
   max-width: 522px;
   text-align: center;
   background-color: #D10700;
   border-radius: 15px;
   border: none;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
}
.maps-content{
   margin-top: 30px;
}
.maps-ifram{
   border-radius: 30px;
}