.have-content{
   margin-top: 80px;
}
.start-box{
   width: 100%;
   max-width: 604px;
   margin: 0px auto;
   text-align: center;
}
.start-title{
   font-weight: 700;
   font-size: 50px;
   line-height: 104%;
   color: #222222;
   margin: 0px;
   margin-bottom: 20px;
}
.start-text{
   font-weight: 400;
   font-size: 17px;
   line-height: 141%;
   color: #1A1A1A;
   margin: 0px;
}
.have-list{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0px;
   padding: 0px;
   margin-top: 40px;
}
.have-item{
   width: 100%;
   max-width: 600px;
   padding: 86px 80px;
   text-align: center;
   border-radius: 34px;
   background: #F5F7F9;
   margin-bottom: 30px;
}
.your-item{
   padding: 86px 40px;
}
.your-box{
   width: 100%;
   max-width: 430px;
   margin: 0px auto;
}
.have-title{
   font-weight: 600;
   font-size: 46px;
   line-height: 56px;
   color: #000000;
   margin: 0px;
   margin-top: 20px;
   margin-bottom: 10px;
}
.have-text{
   font-weight: 400;
   font-size: 25px;
   line-height: 34px;
   color: #000000;
   margin: 0px;
}
@media only screen and (max-width: 565px) {
   .have-content{
      margin-top: 40px;
   }
   .start-box{
      max-width: 340px;
   }
   .start-title{
      font-size: 30px;
   }
   .start-text{
      font-size: 17px;
   }
   .have-item{
      margin: 0px auto;
      padding: 36px 17px;
      margin-bottom: 30px;
      max-width: 343px;
   }
   .have-title{
      font-weight: 600;
      font-size: 30px;
      line-height: 39px;
   }
}