.mark-box{
   width: 100%;
   max-width: 846px;
   margin: 0px auto;
   text-align: center;
   margin-bottom: 40px;
}
.mark-title{
   font-weight: 700;
   font-size: 54px;
   line-height: 104%; 
   text-align: center;
   color: #222222;
   margin: 0px;
}
.weather-list{
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   padding: 0px;
}
.weather-item{
   width: 100%;
   max-width: 393px;
}
.weather-item + .weather-item{
   margin-left: 40px;
}
.weather-title{
   margin: 0px;
   margin-top: 15px;
   font-weight: 500;
   font-size: 30px;
   line-height: 66%;
   color: #000000;
}
.weather-box{
   width: 100%;
   max-width: 340px;
   margin: 0px;
   margin-top: 12px;
   margin-bottom:  20px;
}
.weather-text{
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   color: #000000;
   margin: 0px;
}
.weather-link{
   font-weight: 500;
   font-size: 16px;
   line-height: 29px;
   color: #000000;
   border: 1px solid #333;
   border-radius: 20px;
   padding: 8px 86px 8px;
}

@media only screen and (max-width: 565px) {
   .weather-list{
      padding: 0px;
      margin: 0px auto;
   }
   .weather-item{
      width: 100%;
      max-width: 100%;
      margin: 0px auto;
      margin-bottom: 40px;
   }
   .weather-item + .weather-item{
      margin-left: 0px;
   }
   .mark-title{
      font-weight: 700;
      font-size: 30px;
      line-height: 104%; 
      text-align: center;
      color: #222222;
      margin: 0px;
   }
   .mark-box{
      max-width: 310px;
   }
}