.mark-box{
   width: 100%;
   max-width: 846px;
   margin: 0px auto;
   text-align: center;
   margin-bottom: 40px;
}
.mark-title{
   font-weight: 700;
   font-size: 54px;
   line-height: 104%; 
   text-align: center;
   color: #222222;
   margin: 0px;
}
.weather-list{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px;
   height: 100%;
}
.slick-arrow{
   display: none;
}
.weather-item{
   width: 100%;
   max-width: 393px;
   margin-bottom: 20px;
}
.weather-title{
   margin: 0px;
   margin-top: 15px;
   font-weight: 500;
   font-size: 30px;
   line-height: 66%;
   color: #000000;
}
.weather-box{
   width: 100%;
   max-width: 340px;
   margin: 0px;
   margin-top: 12px;
   margin-bottom:  20px;
}
.weather-text{
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   color: #000000;
   margin: 0px;
}
.weather-link{
   display: inline-block;
   width: 100%;
   max-width: 390px;
   text-align: center;
   font-weight: 500;
   font-size: 16px;
   line-height: 29px;
   color: #000000;
   border: 1px solid #333;
   border-radius: 20px;
   padding: 8px 0px;
}
@media only screen and (max-width: 565px) {
   .mark-title{
      font-weight: 700;
      font-size: 30px;
      line-height: 104%; 
      text-align: center;
      color: #222222;
      margin: 0px;
   }
   .mark-box{
      max-width: 310px;
   }
}