.partner-content{
   margin-top: 90px;
   margin-bottom: 46px;
}
.partner-title{
   font-weight: 700;
   font-size: 50px;
   line-height: 104%;
   text-align: center;
   color: #222222;
   margin: 0px;
}
.human-list{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin: 0px;
   padding: 0px;
   list-style: none;
}
.mount-list{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin: 0px;
   padding: 0px;
   list-style: none;
   margin-top: 30px;
}